<ion-view view-title="Info">
  <ion-content>

    <div class="list">

      <div style="margin: 10px;">
        Estamos no mercado à 17 anos, atendendo mais de 50 cidades no Mato Grosso e Sul do Pará.
      </div>

      <a class="item" href="mailto:contato@guiaempresarialnorte.com.br">
        contato@guiaempresarialnorte.com.br
      </a>


      <div class="item item-divider">
        Evandro
      </div>

      <a class="item" href="tel:99034525">
        (66) 9903-4525
      </a>

      <div class="item item-divider">
        Pedro
      </div>

      <a class="item" href="tel:99899355">
        (66) 9972-1478
      </a>

    </div>

  </ion-content>
</ion-view>
